@import "mixins.scss";

.header {
  background: #262728;
  height: 60px;
  padding: 0 100px 0 100px;
  @extend .collapsefix;

  .logo {
    background: url(/images/logo.png);
    width:140px;
    height:26px;
    float:left;
    margin-top:19px;
  }
  .right {
    float: right;
    margin-top: 15px;
  }
  .messages, .search, .avatar {
    float:left;
  }
  .avatar {
    margin-left: 23px;
  }
  .search {
    margin-left: 24px;
  }
  .messages {
    margin-top: 4px;
  }
}