.postbox {
  background: #00b286;
  opacity: .7;
  height: 155px;
  width: 575px;
  border-radius: 3px;
  padding:43px 0 0 30px;

  .post-input {
    font-weight: 100;
    background: transparent;
    font-size: 30px;
    width:90%;
    border: none;
    display:block;
    outline: none;
    color: #fff;
  }

  .add-media {
    margin-top: 30px;
  }

  ::-webkit-input-placeholder {
    color: #fff;
    opacity: .5;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: #fff;
    opacity: .5;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
    opacity: .5;
  }

  :-ms-input-placeholder {
    color: #fff;
    opacity: .5;
  }
}